@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

.navLink {
  @apply py-3 border w-full block border-primaryWhite/50 transition-all hover:border-primaryWhite md:py-0 hover:bg-primaryBlack md:border-transparent md:border-t-0 md:border-x-0 md:border-b-2 md:text-lg md:hover:border-b-rose md:hover:bg-transparent;
}

.subtitlePage {
  @apply text-center text-4xl font-['Abhaya_Libre'] font-extrabold mb-3
}

.description {
  @apply flex w-full max-w-[980px] mx-auto border-2 border-rose rounded-lg
}

.description p {
  @apply grow my-auto text-center p-1 font-light;
}

.description span {
  @apply bg-rose p-3 shadow-xl rounded-r-lg items-center flex text-white;
}

.labelFooter {
  @apply block text-xs text-primaryWhite/70;
}

.inputFooter {
  @apply rounded w-full mb-2 px-3 py-1 bg-primaryWhite/50 border border-primaryWhite text-black placeholder:text-black resize-none;
}

.linkFooter {
  @apply bg-[#4E4D4D] p-2 rounded-full text-2xl;
}

.InstaBtn,
.WhatsBtn {
  position: fixed;
  background: linear-gradient(196deg, rgba(154, 102, 98, 1) 0%, rgba(244, 194, 188, 1) 28%, rgb(198, 151, 147) 58%, rgba(211, 162, 156, 1) 79%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.WhatsBtn {
  bottom: 5%;
  right: 5%;
}

.InstaBtn{
  bottom: 12%;
  right: 5%;
}
.InstaBtn:hover,
.WhatsBtn:hover {
  transform: scale(1.2);
}

.linkFooter:hover {
  box-shadow: 2px 2px 2px white, -2px -2px 2px white, 2px -2px 2px white, -2px 2px 2px white;
}

main {
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem;
}

.pacotes p:first-child,
.linkCta {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
}

.pacotes {
  @apply py-3 md:h-[450px] md:py-6 flex flex-col justify-between lg:py-12;
}

.pacotes p {
  @apply flex gap-2 items-center justify-start text-2xl p-1 text-[1.1em];
}

.pacotes p:first-child {
  @apply text-3xl text-center w-full block mb-6;
}

.pacotes p:last-child {
  @apply text-2xl mt-5 text-center w-full block bg-rose rounded-3xl text-primaryWhite my-4 shadow-sm p-2 md:mt-auto;
}

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 3px;
  /* Altura da borda */
  background-image: linear-gradient(196deg, rgba(154, 102, 98, 1) 0%, rgba(244, 194, 188, 1) 28%, rgb(198, 151, 147) 58%, rgba(211, 162, 156, 1) 79%);
}

.aboutText span {
  @apply font-semibold;
}